.center-div {
  margin-bottom: 20px;
  margin: auto;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 10px 10px 15px lightgray;
  border-radius: 15px;
  background: white;
}

.center-div-long {
  margin-bottom: 20px;
  margin: auto;
  width: 70%;
  margin-top: 25px;
  margin-bottom: 25px;
  /*border-radius: 15px;*/
  /*box-shadow: 10px 10px 5px #f0f0f0;*/
  background: white;
}

#gold-bg {
  background: gold;
}

h1, h2, h3 {
  text-align: center;
  color: darkgreen;
}

#green-bg {
  background: darkgreen;
  color: gold;
}

.center-p {
  text-align: center;
  margin-top: 10px;
}

try {
}

