h1 {
  text-align: center;
  font-weight: bold;
  margin: 33px;
}

#input-code {
  width: 100px;
  box-shadow: 0px 0px;
  border-style: solid;
  border-color: rgb(2,84,0);
}

#input-text {
  width: 312px;
  color: rgb(0,0,0);
  border-style: solid;
  border-color: rgb(14,101,0);
  border-radius: 8px;
}

td {
  width: 312px;
  font-weight: bold;
  border-bottom-style: none;
}

#input-MI {
  width: 82px;
  color: rgb(0,0,0);
  border-style: solid;
  border-color: rgb(14,101,0);
  border-radius: 8px;
}

.form-check-input:checked {
  background-color: rgb(14,101,0);
  border-color: rgb(14,101,0);
}

#buttonsave {
  width: 91.6719px;
  margin-right: 46px;
  background: rgb(14,101,0);
  border-radius: 12px;
  margin-top: 12px;
}

#buttoncancel {
  width: 91.6719px;
  margin-right: 46px;
  background: rgb(255,255,255);
  color: rgb(14,101,0);
  border-style: solid;
  border-top-color: rgb(14,101,0);
  border-right-color: rgb(14,101,0);
  border-bottom-color: rgb(14,101,0);
  border-left-color: rgb(14,101,0);
  border-radius: 12px;
  margin-top: 12px;
}

